<!DOCTYPE html>
<html lang="pt" ng-app="drawingApp">
	<head>
		<title>DesenArt</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<!-- JQuery -->
		<script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>
		
		<!-- AngularJS -->
		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular-cookies.js"></script>

		<!-- Nossos JSs -->
		<script type="text/javascript" src="js/app.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>

		<!-- Nossos CSSs -->
		<link rel="stylesheet" href="css/app.css"/>
	</head>
	<body ng-controller="ScreenController as screen" ng-init="screen.setCurrentScreen('login')">
<center><h1>DesenArt</h1></center>
<br/>
<br/>
		<div class="container text-center">
			<div id="login-form" class="well well-lg text-center clearfix">
				<h3>Login</h3>
				<form name="loginForm" novalidate ng-controller="LoginController as loginCtrl" ng-submit="loginCtrl.login()">
					<input type="text" placeholder="Usuário" class="form-control" ng-model="loginCtrl.username" required/>
					<input type="password" placeholder="Senha" class="form-control" ng-model="loginCtrl.password" required/>
					<button type="submit" class="btn btn-lg btn-primary" ng-disabled="!loginForm.$valid">Entrar</button>
				</form>
			</div>
			<br/>
			<a href="create-account.html">Criar uma conta</a>
		</div>
	</body>
</html>
