<div class="container-fluid navbar navbar-default navbar-static-top">
	<a href ng-click="screenCtrl.setCurrentScreen('home')" class="navbar-brand">DesenArt</a>
	<ul class="nav navbar-nav navbar-right">

		<li><a href ng-click="screenCtrl.setCurrentScreen('drawing-theme-list')">Nova partida</a></li>
		<li><a href ng-click="screenCtrl.setCurrentScreen('guesses-drawing-list')">Adivinhe o desenho!</a></li>
		<li><a href ng-click="screenCtrl.setCurrentScreen('shopping-items-list')">Loja</a></li>
		<li><a href="index.html" ng-controller="LogoutController as logoutCtrl" ng-click="logoutCtrl.logout()">Sair</a></li>
	</ul>
</div>